@import "functions";
/*****************************************************/
/*** the general classes that helps in coding ***/
/*****************************************************/
// set the html (root element) font size to use REMs
html                    {font-size: $htmlFontSize;}

//lists
.no-list-style          {list-style: none}

//  box alignment
.display-table          { display: table; width: 100%; height: 100%; }
.align-middle           { vertical-align: middle; }
.align-center           { margin-left: auto; margin-right: auto; }

// positioning
.pos-relative           { position: relative; }
.pos-absolute           { position: absolute; }

.display-table          { display: table; }
.align-middle           { vertical-align: middle; }

.display-table > 
.align-middle           { display: table-cell; }

// text alignment
.text-left              { text-align: left; }
.text-right             { text-align: right; }
.text-center            { text-align: center; }
.text-center-xs         { @media(max-width: $screen-xs-max){ 
                            text-align: center !important;}
                        }

.text-left-xs           { @media(max-width: $screen-xs-max){
                            text-align: left !important; }
                        }
.text-right-xs          { @media(max-width: $screen-xs-max){
                            text-align: right !important; }
                        }

// font weights
.normal-weight          { font-weight: normal; }
.light-weight           { font-weight: 200; }
.bold-weight            { font-weight: 600; }
.no-underline           { text-decoration: none !important; }
.underline              { text-decoration: underline !important; }
a.underline:hover       { text-decoration: none !important;}

// font-families
.font-head              { font-family: $ltrHeadFontFamily; }
.font-body              { font-family: $ltrBodyFontFamily; }

// extra font sizes
.strong                 { font-size: $headThree; }
.strong-sm              { font-size: $headFour; }
.strong-xs              { font-size: $headFive + 2; }
.strong-md              { font-size: $headTwo; line-height: 1.25; }
.strong-lg              { font-size: $headOne; line-height: 1.34; }

// block, inline or block-inline
.block-inline           { display: inline-block; }
.align-center           { margin-left: auto; margin-right: auto;}

// height and width
.full-height            { height: 100%;}
.full-width             { width: 100%;}

// border
.no-border              { border: none !important; }
.bordered               { border: 1px solid transparent; }
.bordered-right         { border-right: 1px solid transparent; }
.bordered-left          { border-left: 1px solid transparent; }
.bordered-top           { border-top: 1px solid transparent; }
.bordered-bottom        { border-bottom: 1px solid transparent; }

.bordered-primary       { border-color: $primaryBorderColor; }
.bordered-success       { border-color: $successBorderColor; }
.bordered-info          { border-color: $infoBorderColor; }
.bordered-info-alt      { border-color: $infoAltBorderColor; }
.bordered-warning       { border-color: $warningBorderColor; }
.bordered-danger        { border-color: $dangerBorderColor; }
.bordered-white         { border-color: $whiteBorderColor; }
.bordered-inverse       { border-color: $inverseBorderColor; }
.bordered-default       { border-color: $defaultBorderColor; }
.bordered-default-alt   { border-color: $defaultAltBorderColor; }
.bordered-twitter       { border-color: $twitterBorderColor; }
.bordered-twitter-alt   { border-color: $twitterFootBorderColor; }
.bordered-twitter-alt-alt
                        { border-color: $twitterBlue}

.bordered-md            { border-width: 3px; }
.bordered-lg            { border-width: 5px; }
.bordered-xlg           { border-width: 20px; }
.bordered-bottom-md     { border-bottom-width: 3px; }



.no-radius              { @include border-radius(0);}
.border-radius          { @include border-radius(5px);}

.no-overflow            { overflow: hidden; }
.text-overflow          { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

// padding
.no-padding             { padding: 0;}
.padding                { padding: $nmSpace; }
.padding-xs             { padding: $xsSpace; }
.padding-sm             { padding: $smSpace; }
.padding-md             { padding: $mdSpace; }
.padding-lg             { padding: $lgSpace; }

.padding-left           { padding-left: $nmSpace; }
.padding-right          { padding-right: $nmSpace; }
.padding-top            { padding-top: $nmSpace;}
.padding-bottom         { padding-bottom: $nmSpace;}

.padding-left-xs        { padding-left: $xsSpace; }
.padding-right-xs       { padding-right: $xsSpace; }
.padding-top-xs         { padding-top: $xsSpace; }
.padding-bottom-xs      { padding-bottom: $xsSpace; }

.padding-left-sm        { padding-left: $smSpace; }
.padding-right-sm       { padding-right: $smSpace; }
.padding-top-sm         { padding-top: $smSpace; }
.padding-bottom-sm      { padding-bottom: $smSpace; }

.padding-left-md        { padding-left: $mdSpace;}
.padding-right-md       { padding-right: $mdSpace;}
.padding-top-md         { padding-top: $mdSpace;}
.padding-bottom-md      { padding-bottom: $mdSpace;}

.padding-left-lg        { padding-left: $lgSpace;}
.padding-right-lg       { padding-right: $lgSpace;}
.padding-top-lg         { padding-top: $lgSpace;}
.padding-bottom-lg      { padding-bottom: $lgSpace;}


// margin
.no-margin              { margin: 0;}
.margin                 { margin: $nmSpace; }
.margin-sm              { margin: $smSpace; }
.margin-md              { margin: $mdSpace; }
.margin-lg              { margin: $lgSpace; }

.margin-left            { margin-left: $nmSpace; }
.margin-right           { margin-right: $nmSpace; }
.margin-top             { margin-top: $nmSpace;}
.margin-bottom          { margin-bottom: $nmSpace;}

.margin-left-sm         { margin-left: $smSpace; }
.margin-right-sm        { margin-right: $smSpace; }
.margin-top-sm          { margin-top: $smSpace; }
.margin-bottom-sm       { margin-bottom: $smSpace; }

.margin-left-md         { margin-left: $mdSpace;}
.margin-right-md        { margin-right: $mdSpace;}
.margin-top-md          { margin-top: $mdSpace;}
.margin-bottom-md       { margin-bottom: $mdSpace;}

.margin-left-lg         { margin-left: $lgSpace;}
.margin-right-lg        { margin-right: $lgSpace;}
.margin-top-lg          { margin-top: $lgSpace;}
.margin-bottom-lg       { margin-bottom: $lgSpace;}

.text-primary           { color: $primaryTxtColor; }
.text-success           { color: $successTxtColor; }
.text-info              { color: $infoTxtColor; }
.text-warning           { color: $warningTxtColor; }
.text-danger            { color: $dangerTxtColor; }
.text-default           { color: $defaultTxtColor; }
.text-default-alt       { color: $defaultAltTxtColor; }
.text-inverse           { color: $inverseTxtColor;}
.text-white             { color: $whiteTxtColor; }
.text-twitter           { color: $twitterBlue; }
.text-grey              { color: $greyDark-alt; }


// div's backgrounds
.bg-default             { background-color: $defaultColor;}
.bg-default-alt         { background-color: $defaultAltColor; }
.bg-primary             { background-color: $primaryColor; }
.bg-success             { background-color: $successColor; }
.bg-warning             { background-color: $warningColor; }
.bg-danger              { background-color: $dangerColor; }
.bg-info                { background-color: $infoColor; }
.bg-info-alt            { background-color: $infoAltColor; }
.bg-white               { background-color: $whiteColor; }
.bg-inverse             { background-color: $inverseColor; }
.bg-twitter             { background-color: $twitterColor; }
.bg-twitter-alt         { background-color: $twitterFootBg; }
.bg-grey                { background-color: $grey-light-alt; }
.bg-blue                { background-color: $blue; }



.img-container          { width: nToRem(54, $htmlSizeFraction);
                          height: nToRem(54, $htmlSizeFraction);
                          vertical-align: middle; }

.img-container-xs       { width: nToRem(30, $htmlSizeFraction);
                          height: nToRem(30, $htmlSizeFraction);
                          vertical-align: middle; }

.img-container-sm       { width: nToRem(48, $htmlSizeFraction);
                          height: nToRem(48, $htmlSizeFraction);
                          vertical-align: middle; }

.img-container-md       { width: nToRem(60, $htmlSizeFraction);
                          height: nToRem(60, $htmlSizeFraction);
                          vertical-align: middle; }

.img-container-lg       { width: nToRem(96, $htmlSizeFraction);
                          height: nToRem(96, $htmlSizeFraction);
                          vertical-align: middle; }


.icon-pos-left          { margin-right: $smSpace;}
.icon-pos-right         { margin-left: $smSpace;}
.icon-sm                { font-size: $smallSize; }
.icon-md                { font-size: $largeSize; }
.icon-lg                { font-size: $xLargeSize; }

.equal-cols             { margin-bottom: -1000rem; padding-bottom: 1000rem;}
.equal-cols-row         { overflow: hidden;}

.btn-circle             { @include border-radius(50%); }
.btn-circle.btn         { height: nToRem(36, $htmlSizeFraction);
                          width: nToRem(36, $htmlSizeFraction);
                          line-height: nToRem(36, $htmlSizeFraction);
                          padding: 0; text-align: center;}

.btn-circle.btn-lg      { height: nToRem(48, $htmlSizeFraction);
                          width: nToRem(48, $htmlSizeFraction);
                          line-height: nToRem(48, $htmlSizeFraction); }

.btn-circle.btn-sm      { height: nToRem(24, $htmlSizeFraction);
                          width: nToRem(24, $htmlSizeFraction);
                          line-height: nToRem(24, $htmlSizeFraction); }


/*****************************************************/
/*** general-styles rtl ***/
/*****************************************************/
.rtl{
    .bordered-right     { border-left: 1px solid transparent; border-right: none; }
    .bordered-left      { border-right: 1px solid transparent; border-left: none; }
    .bordered-md        { border-width: 3px; }
    .bordered-lg        { border-width: 5px; }
    .bordered-xlg       { border-width: 20px; }
    .bordered-bottom-md { border-bottom-width: 3px; }
    .bordered-primary   { border-color: $primaryBorderColor; }
    .bordered-success   { border-color: $successBorderColor; }
    .bordered-info      { border-color: $infoBorderColor; }
    .bordered-info-alt  { border-color: $infoAltBorderColor; }
    .bordered-warning   { border-color: $warningBorderColor; }
    .bordered-danger    { border-color: $dangerBorderColor; }
    .bordered-white     { border-color: $whiteBorderColor; }
    .bordered-inverse   { border-color: $inverseBorderColor; }
    .bordered-default   { border-color: $defaultBorderColor; }
    .bordered-default-alt
                        { border-color: $defaultAltBorderColor; }
    

    .padding-left       { padding-right: $nmSpace; padding-left: 0; }
    .padding-right      { padding-left: $nmSpace; padding-right: 0; }
    .padding-left.padding-right
                        { padding-left: $nmSpace; padding-right: $nmSpace;}

    .padding-left-xs    { padding-left:0; padding-right: $xsSpace; }
    .padding-right-xs   { padding-right:0; padding-left: $xsSpace; }
    .padding-left-xs.padding-right-xs
                        { padding-right: $xsSpace; padding-left: $xsSpace;}

    .padding-left-sm    { padding-right: $smSpace; padding-left: 0;}
    .padding-right-sm   { padding-left: $smSpace; padding-right: 0; }
    .padding-left-sm.padding-right-sm
                        { padding-left: $smSpace; padding-right: $smSpace; }

    .padding-left-md    { padding-right: $mdSpace; padding-left: 0; }
    .padding-right-md   { padding-left: $mdSpace; padding-right: 0; }
    .padding-left-md.padding-right-md
                        { padding-right: $mdSpace; padding-left: $mdSpace; }

    .padding-left-lg    { padding-right: $lgSpace; padding-left: 0;}
    .padding-right-lg   { padding-left: $lgSpace; padding-right: 0;}
    .padding-left-lg.padding-right-lg
                        { padding-left: $lgSpace; padding-right: $lgSpace;}

    .margin-left        { margin-right: $nmSpace; margin-left: 0; }
    .margin-right       { margin-left: $nmSpace; margin-right: 0; }
    .margin-left.margin-right{ margin-right: $nmSpace; margin-left: $nmSpace; }

    .margin-left-sm     { margin-right: $smSpace; margin-left: 0; }
    .margin-right-sm    { margin-left: $smSpace; margin-right: 0; }
    .margin-left-sm.margin-right-sm
                        { margin-left: $smSpace; margin-right: $smSpace; }


    .margin-left-md     { margin-right: $mdSpace; margin-left: 0;}
    .margin-right-md    { margin-left: $mdSpace; margin-right: 0;}
    .margin-left-md.margin-right-md
                        { margin-left: $mdSpace; margin-right: $mdSpace;}

    .margin-left-lg     { margin-right: $lgSpace; margin-left: 0;}
    .margin-right-lg    { margin-left: $lgSpace; margin-right: 0;}
    .margin-left-lg.margin-right-lg
                        { margin-left: $lgSpace; margin-right: $lgSpace;}

    .icon-pos-left      { margin-right: auto; margin-left: $smSpace;}
    .icon-pos-right     { margin-left: auto; margin-right: $smSpace;}
    .icon-pos-left.icon-pos-right
                        { margin-left: $smSpace; margin-right: $smSpace;}

    .text-left          { text-align: right; }
    .text-right         { text-align: left; }
    .text-center-xs     { @media(max-width: $screen-xs-max){ 
                                text-align: center !important;}
                        }

    .text-left-xs       { @media(max-width: $screen-xs-max){
                            text-align: right !important; }
                        }
    .text-right-xs      { @media(max-width: $screen-xs-max){
                            text-align: left !important; }
                        }
}

